@charset "utf-8";
// 项目主背景色
$item-main-bg: #ebebeb;
$list-bg: #fff;
$item-Embellish:#ee2a61;
// 按钮配置
$btn-bg-cl: #ee2a61;
$btn-font-cl-main: #ee2a61;
$btn-font-cl-ff: #fff;
$btn-font-cl-hui: #666;

// 字体配置
$font-main: #333;
$font-fu: #969696;
$font-label: #666;
$font-title: #555;
$font-white: #fff;
$font-jv:#ff3333;
$font-order:#ff3e3e;
$font-hui:#e0e0e0;

// 阴影颜色
$box-shadow:#e0e0e0;

$font-red:#ff3333;
$font-orange:#ff7000;

// input placeholder
$input-place: #c5c5c5;
